body {
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-container {
  position: relative;
  width: 500px;
  height: 500px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.helper-box {
  height: 50px;
  width: 150px;
  position: absolute;
  bottom: 40px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  text-align: center;
}

#result {
  position: relative;
  padding-top: 20px;
}

p {
  font-family: "Open Sans";
  margin: 0;
  font-size: 16px;
}

.header {
  font-size: 50px;
}

.description {
  position: relative;
  width: 500px;
  padding-bottom: 2%;
  font-size: 16px;
  letter-spacing: 0.5px;
}
